@inherits LayoutComponentBase
@inject NavigationManager NavManager
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    @if (!isLoginPage())
    {
        <div class="sidebar" style = "max-width: 200px;">
            <NavMenu />
        </div>
    }
    

    <main>
        <article class="content px-4" style = "padding-top: 60px">
            @Body
        </article>
    </main>
</div>
@code { 
    private bool isLoginPage()
    {
        // Adjust the condition based on your application's URL structure and routing
        var path = NavManager.ToAbsoluteUri(NavManager.Uri).PathAndQuery;
        return path == "/" || path.StartsWith("/login") || path.StartsWith("/register");
    }
}
